.blog-post {
  margin-bottom: 120px;
}

.date {
  font-size: 32px;
  color: #bbb;
  margin-bottom: 10px;
}

.blog-post h3 {
  font-size: 64px;
  font-weight: 300;
  margin: 0 0 20px 0;
  color: #111;
}

.blog-post img {
  width: 100%;
  margin: 20px 0 40px 0;
}

.content {
  font-size: 22px;
  line-height: 1.9;
  font-weight: 300;
  color: #555;
}

/* Drop cap */
.content::first-letter {
  float: left;
  font-size: 90px;
  line-height: 0.8;
  padding-right: 15px;
  font-weight: 300;
  color: #ccc;
}

.continue {
  text-align: right;
  font-size: 22px;
  color: #d43c33;
  font-weight: 700;
  margin-top: 30px;
}