footer {
  border-top: 1px solid #ddd;
  padding-top: 40px;
  margin-top: 80px;
}

footer a {
  margin-right: 30px;
  color: #d43c33;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
}

footer a:hover {
  text-decoration: underline;
}