nav {
  margin-top: 40px;
  margin-bottom: 60px;
}

nav a {
  margin-right: 35px;
  text-decoration: underline;
  color: #888;
  font-size: 22px;
  font-weight: 300;
}

nav a:hover {
  color: #d43c33;
}